body {
  background-color: #fdfdfd;
  display: inline;
  margin: 0px;
  padding: 0px;
  font-family: arial, sans-serif, verdana;
}

img {
  border: 0px;
}

a {
  cursor: pointer;
}

#wrapper {
  width: 870px; /* .85 */
  margin: 4px auto;
  display: block;
  overflow: none;
}

#lan {
  float: right;
  color: #333;
  display: none;
}
#lan .selected {
  color: #d14836;
}

#header {
  height: 54px; /* .07 */
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: auto;
}
#header h1 {
  display: inline;
  font-size: 3.5em;
  font-weight: bold;
  font-family: "Maven Pro", arial, sans-serif, verdana;
  letter-spacing: -2px;
  color: #333;
  margin-left: -3px;
  cursor: default;
}

.coolRed {
  color: #d14836;
}

#nav {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
#nav ul {
  list-style: inside;
  list-style-type: none;
  text-align: center;
  border: 0px;
  padding: 0px;
  margin: 10px auto;
  white-space: nowrap;
}
#nav li {
  display: inline;
  margin: 3px 0px;
  cursor: default;
}
#nav a {
  padding: 0px 12px 0px 10px;
  cursor: default;
}
#nav a.item {
  color: #333;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}
#nav a.item:hover {
  background-color: #eee;
}
#nav a.item.external:hover {
  background: #eee url(../img/external.png) 100% 50% no-repeat;
}
#nav a.item.selected {
  color: #d14836;
}

.lnsep {
  width: 100%;
  border-bottom: 1px solid #dadada;
  margin: 0px auto;
}

.content {
  min-height: 520px;
  overflow: hidden;
}
.content a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.content p {
  color: #333;
  font-size: 1em;
  padding: 4px;
  margin: 0px;
}
.content ul {
  margin: 10px auto;
  padding: 5px auto;
}
.no_bullets {
  list-style-type: none;
}
.content .no_bullets img {
  margin: 5px;
  margin-top: 2px;
  vertical-align: middle;
}
.content .with_icons {
  margin: 0px auto;
  padding: 0px 15px;
}
.content li {
  font-size: 1em;
  color: #333;
  margin: 8px 0px;
}
.content .left li.logo {
  margin-left: 2px;
  width: 16px;
  height: 16px;
}
.content .left li.logo a {
  margin-left: 25px;
}
.content .right li.logo strong {
  margin-left: 25px;
}
.content .aboutme {
  background: url(../img/logos.png) -2px -2px no-repeat;
}
.content .facebook {
  background: url(../img/logos.png) -22px -2px no-repeat;
}
.content .formspring {
  background: url(../img/logos.png) -42px -2px no-repeat;
}
.content .foursquare {
  background: url(../img/logos.png) -2px -22px no-repeat;
}
.content .googleplus {
  background: url(../img/logos.png) -22px -22px no-repeat;
}
.content .linkedin {
  background: url(../img/logos.png) -2px -42px no-repeat;
}
.content .miso {
  background: url(../img/logos.png) -22px -42px no-repeat;
}
.content .twitter {
  background: url(../img/logos.png) -2px -62px no-repeat;
}
.content .youtube {
  background: url(../img/logos.png) -22px -62px no-repeat;
}
.content .googletalk {
  background: url(../img/logos.png) -42px -22px no-repeat;
}
.content .skype {
  background: url(../img/logos.png) -42px -42px no-repeat;
}

.content .left {
  width: 460px; /* .45 */
  padding: 20px;
  padding-bottom: 5px;
  display: block;
  float: left;
}
.content .left h1 {
  color: #4d90fe;
  font-size: 1.3em;
  margin: 0px;
}

.content .right {
  width: 350px;
  margin-left: 500px; /* .4 */
  padding: 20px;
  padding-bottom: 5px;
  display: block;
}

#contact,
#developer,
#experience {
  display: none;
}

#footer {
  width: 870px; /* .85 */
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  color: gray;
  font-size: 0.8em;
}
#footer #copy {
  margin-left: 20px;
  float: left;
}
#footer #social {
  padding: 0px;
  margin: 0px;
  margin-right: 20px;
  float: right;
}
#footer #social a {
  margin-right: 7px;
  opacity: 0.4;
  filter: alpha(opacity = 40);
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
}
#footer #social a:hover {
  opacity: 0.9;
  filter: alpha(opacity = 90);
}
#footer #social span {
  display: inline-block;
  width: 25px;
  height: 25px;
}
#footer #social span.twitter {
  background: url(../img/social-logos.png) -25px 0px no-repeat;
}
#footer #social span.linkedin {
  background: url(../img/social-logos.png) 0px 0px no-repeat;
}
#footer #social span.github {
  background: url(../img/social-logos.png) -50px 0px no-repeat;
}
