body {
  background-color: #fdfdfd;
  display: inline;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, verdana;
}

img {
  border: 0px;
}

#wrapper {
  width: 700px; /* .85 */
  margin: 2px auto;
  display: block;
  overflow: none;
}

#lan {
  float: right;
  color: #333;
  display: none;
}
#lan .selected {
  color: #d14836;
}

#header {
  height: 42px; /* .07 */
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 25px;
  padding-right: auto;
}
#header h1 {
  display: inline;
  font-size: 3em;
  font-weight: bold;
  font-family: "Maven Pro", sans-serif, verdana;
  letter-spacing: -1px;
  color: #333;
  margin-left: -3px;
}
#header .coolRed {
  color: #d14836;
}

#nav {
  height: 30px; /* .06 */
  margin-left: auto;
  margin-right: auto;
}
#nav ul {
  list-style: inside;
  list-style-type: none;
  text-align: center;
  border: 0px;
  padding: 0px;
  margin: 20px auto 10px auto;
}
#nav li {
  display: inline;
  margin: 2px 2px;
  cursor: default;
}
#nav a {
  padding: 0px 6px;
  cursor: default;
}
#nav .item {
  color: #333;
  text-decoration: none;
  font-size: 1.3em;
}
#nav .item:hover {
  background: #eee;
}
#nav .selected {
  color: #d14836;
}

.lnsep {
  width: 100%;
  border-bottom: 1px solid #dadada;
  margin-left: auto;
  margin-right: auto;
}

.content {
  min-height: 400px;
  overflow: hidden;
}
.content a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.content p {
  color: #333;
  font-size: 0.75em;
  padding: 7px;
  margin: 0px;
}
.content ul {
  margin: 10px auto;
  padding: 5px auto;
}
.content .noBullets {
  list-style-type: none;
}
.content .noBullets img {
  margin: 5px;
  margin-top: 2px;
  vertical-align: middle;
}
.content .withIcons {
  margin: 10px auto;
  padding: 5px 15px;
}
.content li {
  font-size: 0.75em;
  color: #333;
  margin: 3px 0px;
}
.content .divLogo {
  display: inline;
  margin: 0px 7px 0px 3px;
  width: 16px;
  height: 16px;
}
.content .logoAboutMe {
  background: url(../img/logos.png) -2px -2px no-repeat;
}
.content .logoFacebook {
  background: url(../img/logos.png) -22px -2px no-repeat;
}
.content .logoFormspring {
  background: url(../img/logos.png) -42px -2px no-repeat;
}
.content .logoFoursquare {
  background: url(../img/logos.png) -2px -22px no-repeat;
}
.content .logoGplus {
  background: url(../img/logos.png) -22px -22px no-repeat;
}
.content .logoLinkedIn {
  background: url(../img/logos.png) -2px -42px no-repeat;
}
.content .logoMiso {
  background: url(../img/logos.png) -22px -42px no-repeat;
}
.content .logoTwitter {
  background: url(../img/logos.png) -2px -62px no-repeat;
}
.content .logoYouTube {
  background: url(../img/logos.png) -22px -62px no-repeat;
}
.content .logoGtalk {
  background: url(../img/logos.png) -42px -22px no-repeat;
}
.content .logoSkype {
  background: url(../img/logos.png) -42px -42px no-repeat;
}

.content .left {
  width: 320px; /* .45 */
  padding: 10px;
  padding-bottom: 2px;
  display: block;
  float: left;
}
.content .left h1 {
  color: #4d90fe;
  font-size: 1.3em;
  margin: 0px;
}

.content .right {
  width: 300px;
  margin-left: 360px; /* .4 */
  padding: 10px;
  padding-bottom: 2px;
  display: block;
}

#contact,
#developer,
#experience {
  display: none;
}

#footer {
  line-height: 20px;
  padding: 5px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  color: gray;
  font-size: 0.8em;
  text-align: center;
}
#footer span {
  margin-left: 80px
}
#footer .logoTwitter {
  width: 25px;
  height: 18px;
  background: url(../img/social-logos.png) -22px -2px no-repeat;
}
#footer .logoLinkedIn {
  width: 18px;
  height: 18px;
  background: url(../img/social-logos.png) -2px -2px no-repeat;
}
