RewriteEngine On

RewriteRule ^\.htaccess$ - [F]

RewriteCond %{REQUEST_URI} =""
RewriteRule ^.*$ /about/index.php [NC,L]

RewriteCond %{REQUEST_URI} !^/about/.*$
RewriteRule ^(.*)$ /about/$1

RewriteCond %{REQUEST_URI} !^/js/.*$
RewriteRule ^(.*)$ /js/$1

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [NC,L]

RewriteRule ^public/.*$ /about/index.php [NC,L]

<Directory /js>
  Order Deny, Allow
  Deny from none
  Allow from all
</Directory>

<Directory /css>
  Order Deny, Allow
  Deny from none
  Allow from all
</Directory>
